@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   font-size: 15px!important;
   font-weight: 400!important;
   color: #fff!important;
   background-color: #000!important;
   font-family: 'Poppins', sans-serif!important;
   scroll-behavior: smooth!important;
}

h1, h2, h3, h4, h5, h6 {
   color: #fff;
   font-weight: 600;
}

strong {
   font-weight: 800;
   color: inherit;
}

a {
   text-decoration: none !important;
   -webkit-transition: all 0.2s;
   transition: all 0.2s;
   color: inherit;
   font-weight: 400;
}

a:hover, a:focus {
   text-decoration: none;
   outline: none;
   cursor: pointer;
   color: inherit;
}

.btn.focus, .btn:focus {
   outline: 0;
   box-shadow: none;
}

button {
   color: inherit;
   border: none;
}

p {
   margin-bottom: 0.5rem;
   font-size: 15px;
   font-weight: 500;
   color: #5f5f5f;
   letter-spacing: 0.5px;
}

ul, li {
   margin: 0;
   padding: 0;
   list-style-type: none !important;
}

ul {
   padding-left: 0 !important;
}

hr {
   background-color: #041936;
   opacity: 1;
}

.form-select:focus, .form-control:focus {
   box-shadow: none !important;
   border-color: #ccc;
}

.dropdown-item:focus, .dropdown-item:hover {
   background-color: inherit;
   color: inherit;
}

label {
   margin-bottom: 5px;
}

textarea {
   resize: none;
}

input:focus, button:focus, textarea:focus {
   outline: none;
   box-shadow: none;
}

img {
   max-width: 100%;
   height: auto;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

.space {
   padding-top: 70px;
   padding-bottom: 70px;
}
.thm-gr-btn{
   padding: 12px 25px;
   background: linear-gradient(180deg, #2494E4 0%, #C1E5FF 100%);
   color: #fff;
   font-size: 32px;
   font-weight: 800;
   border-radius: 50px;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.thm-blu-btn{
   display: inline-block;
   background-color: #2494E4;
   color: #000;
   padding: 8px 35px;
   font-size: 30px;
   font-weight: 700;
   border-radius: 20px;
}

.login-sec{
   background-color: #000;
   overflow-x: hidden;
}
.brand-logo{
   padding: 40px;
}
.brand-logo img{
   width: auto;
   
}
.login-lft{
   padding: 5rem 6rem;
}
.login-lft h2{
   font-size: 44px;
   font-weight: 700;
   margin-bottom: 2rem;
}
.login-btn .login-btn-lnk {
   display: block;
   background-color: #fff;
   padding: 10px 35px;
   margin-bottom: 1.5rem;
   border-radius: 50px;
   font-size: 25px;
   color: #000;
   font-weight: 700;
   display: inline-flex;
   align-items: center;
   width: 100%;
   justify-content: center;
   height: 72px;
   line-height: 72px;
}
.login-lft .login-btn .login-btn-lnk img{
   width: 30px;
}
.login-lft h5{
   font-size: 12px;
   font-weight: 700;
   color: #fff;
   position: relative;
   z-index: 9;
   margin: 1.5rem 10px;
}
.login-lft h5 span{
   background-color: #000;
   padding: 0 30px;
}
.login-lft h5:after{
   position: absolute;
   content: '';
   left: 0;
   top: 6px;
   width: 100%;
   height: 1px;
   background: rgba(255, 255, 255, 0.39);
   z-index: -9;
}
.login-lft form .form-label{
   font-size: 20px;
   font-weight: 700;
   color: #fff;
}
.login-lft form .form-control{
   height: 48px;
   border-radius: 50px;
   padding-left: 20px;
}
.login-lnk a,
.login-lnk label{
   color: #0094FF;
   font-size: 12px;
   font-weight: 700;
   display: inline-flex;
   align-items: baseline;
}
.create h4{
   margin-bottom: 3rem;
}
.create h4 span{
   display: inline-block;
   padding: 8px;
   font-size: 44px;
   font-weight: 700;
   color: #fff;
   background-color: #0094FF;
   border-radius: 50px;
}
.create .form-label{
   font-size: 26px !important;
   font-weight: 400!important;
   margin-bottom: 0.5rem;
}
.otp_box .form-control{
   border-radius: 0!important;
}
.otp_box .thm-blu-btn{
   font-size: 20px;
}
.check{
   width: 50px;
   background-color: #ccc;
}
.banner-head{
   background-color: #000;
   padding: 25px 20px;
}
.banner-sec{
   background-image: url(../images/banner-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100%;
   height: 976px;
   padding-top: 50px;
   padding-bottom: 40px;
   position: relative;
}

.banner-sec h1 {
   font-size: 80px;
   font-weight: 600;
   color: #fff;
}
.banner-content{
   margin-top: 4rem;
}
.banner-content h3{
   font-size: 48px;
   font-weight: 700;
}
.bannr-btn{
   display: flex;
   justify-content: space-between;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 50px;
   padding: 0 50px;
}
.bannr-btn{
  
}
.bannr-btn a{
   display: inline-block;
   border-radius: 10px;
   background: linear-gradient(72deg, rgba(253,29,29,0) 27%, rgba(255,248,250,0.014443277310924318) 62%, rgba(252,69,119,0) 100%);
   /* mix-blend-mode: overlay; */
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 10px 25px;
   color: #00FDFD;
   font-size: 45px;
   font-weight: 700;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.newuser-innr{
   background: #fff;
   padding: 20px;
   border-radius: 10px;
}
.newuser-innr h4{
   font-size: 28px;
   font-weight: 600;
   color: #333;
   margin-bottom: 3rem;
}
.newuser-cam-blank{
   background-color: #000;
   height: 416px;
   min-height: 100%;
   border-radius: 5px 5px 0 0 ;
}
.newuser-cam .face{
   display: inline-block;
   width: 100%;
   text-align: center;
   height: 50px;
   background-color: #333;
   color: #fff;
   line-height: 50px;
   border-radius: 0 0 5px 5px;
   font-size: 18px;
   font-weight: 300;
}
.cam-btn{
   display: inline-block;
   width: 100%;
   height: 50px;
   background-color: #F4F4F4;
   color: #919191;
   line-height: 50px;
   border: 1px solid #E3E3E3;
   border-radius: 5px;
   font-size: 16px;
   text-transform: capitalize;
   font-weight: 500;
   text-align: center;
   margin-top: 1rem;
}
.cam-btn.org{
   background-color: #E26F21;
   color: #fff;
  
}
.mainheader{
   background-color: #000;
   padding: 10px 60px;
}
.mainheader-lft{
   display: flex;
}
.mainheader-lft .mainheader-dropdown{
   display: flex;
}
.mainheader-lft .mainheader-dropdown .dropdown button{
   background-color: transparent;
   color: #fff;
   margin-left: 20px;
   font-size: 18px;
}
.mainheader-lft .mainheader-dropdown .dropdown-menu{
   background-color: #000;
   border-radius: 0;
}
.mainheader-lft .mainheader-dropdown .dropdown-menu .dropdown-item{
   color: #fff;
   background-color: #000;
}
.mainheader-right{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap
}
.mainheader-slide{
   width: 50%;
   display: flex;
   justify-content: space-around;
}
.mainheader-slide button{
   background-color: #fff;
   color: #000;
   height: 35px;
   width: 35px;
   text-align: center;
   line-height: 35px;
}
.mainheader-slide span{
   display: inline-block;
   padding: 5px 10px;
   text-align: center;
   background-color: #fff;
   color: #000;
   font-size: 14px;
   font-weight: 500;
   line-height: 25px;
}
.main-wrapper{
   display: flex;
}
.sidebar{
   width: 364px;
   max-width: 100%;
   min-height: 100vh;
   background-color: #000;
   padding: 4rem 1.8rem 0rem 1.8rem;
}

.sidebar-list li{
   margin-bottom: 1rem;
}
.sidebar-list li em{
   font-style: normal;
   font-size: 22px;
   color: #fff;
   margin-bottom: 2rem;
   display: inline-block;
}
.sidebar-list li a{
   font-size: 24px;
   font-weight: 400;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   
}
.sidebar-list li a i{
   font-size: 20px;
}
.sidebar-list li .line{
   opacity:1;
   border-width: 4px;
   border-color: #0094FF;
}
.sidebar-list hr{
   border-width: 2px;
   border-color: #D9D9D9;
}
.sidebar-list li h4{
   font-size: 24px;
   font-weight: 400;   
}

.profile-bar{
   min-height: 100vh;
   width: 100%;
   background-color: #fff;
   padding: 5rem 3rem 0 3rem;
   overflow-x: hidden;
}
.profile-bar-img{
   display: flex;
   align-items: end;
}
.upload-profile{
   display: inline-block;
   height: 150px;
   width: 150px;
   background-color: #ccc;
   border-radius: 50%;
   line-height: 150px;
   text-align: center;
}
.upload-profile img{
   width: 100px;
}
.profile-bar-img h6{
   font-size: 18px;
   font-weight: 400;
   color: #000;
}


.upload-img input[type=file] {
   display: none;
}
.upload-img label{
   padding: 10px 20px;
   background-color: #3E4BBD;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
}

.profile-form{
   margin-top: 3rem;
}
.profile-form label{
   font-size: 18px;
   color: #000;
   font-weight: 400;
}
.profile-form .form-control{
   height: 31px;
   background-color: #D9D9D9!important;
   border: none;
   border-radius: 0;
}
.profile-form textarea.form-control{
   height: 80px;
}
.profile-form button{
   background-color: #2E399CF0;
   padding: 10px 35px;
   color: #fff;
   font-size: 18px;
   font-weight: 600;
}
.head{
   font-size: 24px;
   font-weight: 600;
   color: #000;
   margin-bottom: 1rem;
}
.userlist{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   /* justify-content: space-between; */
   margin-bottom: 1.5rem;
}
.userlist .userlist-img img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-bottom: 1rem;
}
.userlist .userlist-img{
   width: 15%;
}
.userlist .userlist-img h5{
   font-size: 20px;
   font-weight: 500;
   color: #000;
   /* text-align: center; */
}
.userlist .userlist-content{
   width: 40%;
}
.userlist .userlist-content h3{
   font-size: 20px;
   font-weight: 500;
   color: #000;
}
.userlist .userlist-lnk{
   width: 45%;
   text-align: right;
}
.userlist-lnk a{
   font-size: 28px;
   color: #43EE19;
   font-weight: 600;
}
.userlist-lnk a i{
   color: #000;
}
.userlist-lnk a.orng{
   color: #F37787;
}
.bredcump-head h4{
   display: inline-flex;
   align-items: center;
}
.bredcump-head h4 span{
   color: #000;
   font-size: 20px;
   font-weight: 500;
   padding: 0 10px;
}

.bredcump-head h4 button{
   background-color: transparent;
   color: #000;
   font-size: 18px;
}
.bredcump-list li{
   display: inline-block;
   margin-left: 1.7rem;
}
.bredcump-list li a{
   display: inline-block;
   font-size: 22px;
   color: #000;
   font-weight: 300;
   padding-right: 32px;
   position: relative;
}
.bredcump-list li a::after{
   position: absolute;
   content: '';
   height: 25px;
   width: 25px;
   border-radius: 25px;
   background-color: transparent;
   right: 0;
   top: 4px;
}
.bredcump-list li a.accpt::after{
   background-color: #43CD12;
}
.bredcump-list li a.prog::after{
   background-color: #FF993C;
}
.bredcump-list li a.reject::after{
   background-color: #E01616;
}
.treeview{
   margin-top: 5rem;
}
.treeview li .treeview-title{
   display: inline-block;
   color: #000;
   font-size: 18px;
   font-weight: 500;
   border: 1px solid #000;
   padding: 5px 15px;
   margin: 1rem 0;
   width: 240px;
}
.treeview li h5{
   color: #000;
   padding-left: 15px;
   cursor: pointer;
   margin: 1rem 0;
}
.treeview li h5 span{
   display: inline-block;
   border: 1px solid #000;
   padding: 8px 15px;
}
.treeview li .treeview-icon{
   display: inline-block;
   height: 30px;
   width: 30px;
   line-height: 30px;
   text-align: center;
   background-color: #008000;
   color: #fff;
   margin-left: 15px;
   border-radius: 25px;
   font-size: 12px;
}
.treeview li .treeview-icon.trash{
   background-color: #E01616;
}
.treeview li h4{
   color: #000;
   display: flex;
   justify-content: space-between;
   border: 1px solid #000;
   width: 300px;
   font-size: 18px;
   padding: 5px 15px;
   margin-left: 25px;
   margin-bottom: 10px;
}
.treeview li h4 .treeview-dot{
   display: inline-block;
   height: 20px;
   width: 20px;
   border-radius: 25px;
   background-color: transparent;
}
.treeview li h4 .treeview-dot.accpt{
   background-color: #43CD12;
}
.treeview li h4 .treeview-dot.pndng{
   background-color: #FF993C;
}
.treeview li h4 .treeview-dot.reject{
   background-color: #E01616;
}
.visitor-frm {
   margin-bottom: 8rem;
}
.visitor-frm .frm-bx{
   display: flex;
   align-items: center;
}
.visitor-frm .frm-bx label{
   color: #000;
   margin-right: 5px;
}
.visitor-frm .frm-bx .form-control{
   border-radius: 50px;
   border: 1px solid #000;
   height: 25px;
   font-size: 12px;
}
.visitor-frm-innr{
   background-color: #ccc;
   padding-top: 8px;
   padding-bottom: 8px;
}
.visitor-frm button{
   display: inline-block;
   color: #000;
   background-color: #01FF1B;
   padding: 8px 15px;
   font-size: 15px;
   font-weight: 500;
   border-radius: 10px;
}
.visitor-list li{
   display: flex;
   border-bottom: 1px solid #f7f7f7;
   padding: 10px;
   transition: 0.2s;
}
.visitor-list li:hover{
   background-color: #A1D5FA;
}
.visitor-list li .visitor-list-img {
   margin-right: 15px;
}
.visitor-list li .visitor-list-img img{   
   object-fit: cover;
   object-position: center;
  
}
.visitor-list li .visitor-list-content h4{
   color: #000;
   font-size: 18px;
   font-weight: 500;
}
.visitor-dtl{
   background-color: #ccc;
   padding: 20px;
   min-height: 100vh;
}
.visitor-dtl img{
   width: 100%;
   margin-bottom: 10px;
}
.visitor-dtl h4{
   font-size: 18px;
   color: #000;
   margin-bottom: 10px;
}
.propery-headr{
   background-color: #000;
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.propery-headr-icon a{
   display: inline-block;
   height: 50px;
   width: 50px;
   background-color: #ccc;
   border-radius: 50px;
}
/* .property-filter .container{
   max-width: 1700px;
} */
.property-filter-content h2{
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 2rem;
}
.property-filter-content p{
   color: #fff;
   font-size: 16px;
}
.property-filter-frm a{
   display: inline-block;
   padding: 8px 20px;
   background-color: #fff;
   color: #000;
   font-size: 18px;
   font-weight: 400;
   border-radius: 25px;
   margin-right: 10px;
}
.property-filter-frm-innr  .property-filter-bx{
   display: flex;
   align-items: center;
}
.property-filter-bx .form-control{
      border-radius: 50px;

}
.property-filter-bx button{
   background-color: transparent;
   color: #fff;
   font-size: 18px;
}
.property-select{
   padding-left: 20px;
   margin-top: 2rem;
}
.property-select li{
   margin-bottom: 1rem;
}
.property-select li .flag-img{
   width: 81px;
height: 46px;
margin-bottom: 5px;
}
.property-select li .cntry-nam{
   color: #fff;
   font-size: 15px;
   text-transform: uppercase;
   display: block;
}
.property-select li h6{
   padding-left: 5rem;
   font-size: 20px;
   font-weight: 500;
   color: #fff;
}
.property-select li h5{
   padding-left: 10rem;
   margin-bottom: 5px;
   font-size: 18px;
   font-weight: 500;
}
.house-innr{
   text-align: center;
   margin-bottom: 2rem;
}
.house-innr img{
   width: 100%;
   border-radius: 10px;
   margin-bottom: 2rem;
}
.house-innr h4{
   display: inline-block;
   color: #fff;
   font-size: 20px;
   font-weight: 400;
}
.property-filter hr{
   opacity: 1;
   border-color: #D9D9D9;
}
.tp-header{
   background-color: #000;
   padding: 10px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.tp-header-right{
   display: flex;
   align-items: center;
}
.tp-header-right a{
   display: inline-block;
   color: #fff;
   font-size: 20px;
   margin-left: 20px;
}
.tp-header-right a span{
   display: inline-block;
   height: 45px;
   width: 45px;
   background-color: #ccc;
   line-height: 45px;
   text-align: center;
   border-radius: 25px;
}
.tp-header-right a span img{
   width: 35px;
}
.property-dtl-fltr{
   margin-bottom: 4rem;
}
.property-dtl-fltr-lft .dtl-fltr-bx{
   position: relative;
}
.property-dtl-fltr-lft .dtl-fltr-bx .form-control{
   border-radius: 50px;
   padding-left: 3rem;
}
.property-dtl-fltr-lft .dtl-fltr-bx span{
   position: absolute;
    top: 11px;
    left: 22px;
    color: #000;
    font-size: 15px;
}
.property-dtl-fltr-lft button{
   background-color: transparent;
   color: #fff;
   font-size: 18px;
}
.property-dtl-fltr-rgt a{
   display: inline-block;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
}
.property-dtl-lst-lft{
   background-color: #fff;
   padding: 15px 0;
   border-radius: 10px;
   position: relative;
}
.property-dtl-lst-lft-icon{
   position: absolute;
   top: 10px;
   right: 40px;
}
.property-dtl-lst-lft-icon span,
.property-dtl-lst-lft-icon a{
   color: #000;
   margin-right: 5px;
   font-size: 15px;
   font-weight: 600;
}

.property-dtl-lst-lft ul li{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 1rem 3rem;
   margin: 1rem 0;
   border-bottom: 1px solid #eee;
}
.property-dtl-lst-lft ul li .property-dtl-lst-img{
   width: 40%;
}
.property-dtl-lst-lft ul li .property-dtl-lst-img img{
   width: 100%;
   border-radius: 20px;
}
.property-dtl-lst-cntn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 60%;
}
.property-dtl-lst-cntn .property-dtl-lst-cntn-txt h4{
   font-size: 24px;
   font-weight: 600;
   color: #000;
   margin-left: 15px;
}
.property-dtl-lst-cntn-icon span{
   color: #000;
   font-size: 24px;
   color: #FBBC05;
}
.property-slide{
   background-color: #fff;
   padding: 15px;
   border-radius: 20px;
}
.property-slide .head{
   font-size: 30px;
   margin-top: 1rem;
}
.shadowb-btn{
   padding: 8px 20px;
    background-color: #00B2FF;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 3px 20px #0eb6ff;
}
.add-property{
   margin-top: 3rem;
}
.add-property .container{
   max-width: 1650px;
   margin-bottom: 1rem;
}
.add-property-lft h5{
   padding: 10px 5px;
   background-color: #0094FF;
   color: #fff;
   font-size: 32px;
   font-weight: 600;
   border-radius: 50px;
   text-align: center;
}
.speech-bx{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1.5rem 0;
}
.speech-bx .speech-icon{
   height: 60px;
   width: 60px;
   background: transparent;
}
.speech-bx .form-control{
   border-radius: 10px;
   height: 50px;
   width: 70%;
   padding-left: 3rem;
}
.add-property-lft-innr{
   padding: 0 3rem;
   margin-top: 1rem;
}
.add-property-lft-innr form label{
   font-size: 25px;
   color: #fff;
   font-weight: 600;
}
.add-property-lft-innr form .form-control{
   height: 44px;
   border-radius: 0;
   padding-left: 1rem;
}
.propery-map iframe{
   height: 500px;
   width: 100%;
}
.amenities-header{
   padding: 5px 30px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.amenities-header-lft a span{
   display: inline-block;
   height: 45px;
   width: 45px;
   line-height: 45px;
   text-align: center;
   background-color: #ccc;
   border-radius: 50px;
}
.amenities-header-lft a span img{
   width: 30px;
   height: 30px;
   object-fit: cover;
}
.amenities-header-lft li{
   display: inline-block;
   margin-left: 15px;
}
.amenities-header-lft .navitem .nav-link{
   color: #000;
}

.amenities-header-lft .navitem button{
   background-color: transparent;
   color: #000;
}
.amenities-header-lft .navitem .dropdown-menu{
   border: none;
   background-color: #BABABA;
   border-radius: 0;
}
.amenities-header-lft .navitem .dropdown-menu .dropdown-item{
   color: #000;
   background-color: transparent!important;
}
.amenities-header-rgt select{
   border: none!important;
   outline: none!important;
   background-color: #D9D9D9;
   color: #000;
   padding: 2px;
   margin-left: 10px;
}
.amenities-header-rgt{
   display: flex;
   align-items: center;
}
.amenities-header-rgt .mainheader-slide{
   width: auto;
}
.amenities-header-rgt .mainheader-slide span{
   background-color: #D9D9D9;
}
.amenities-sec{
   background-color: #fff;
   min-height: 100vh;
   padding-top: 3rem;
}
.amenities-card{
   padding: 15px;
   background-color: #D9D9D9;
   border-radius: 10px;
   margin: 1rem 0;
}
.amenities-card .head{
   font-weight: 400;
}
.amenities-flor h4 span{
   display: inline-flex;
   background-color: #fff;
   padding: 5px;
   color: #000;
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 10px;
}
.amenities-flor h5 button{
   background-color: transparent;
   color: #000;
   font-size: 15px;
}
.amenities-flor h5 span{
   display: inline-block;
   padding: 3px;
   background-color: #fff;
   color: #000;
   font-size: 16px;
}
.amenities-flor .head{
   font-size: 16px;
   margin-bottom: 1rem;
}
.amenities-lst{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.amenities-flor ul li{
   width: 25%;
   margin: 1.5rem 0;
}
.amenities-flor ul li .amenities-flor-innr{
   text-align: center;
}
.amenities-flor ul li .amenities-flor-innr img{
   height: 35px;
   width: 35px;
   margin-bottom: 5px;
   filter: brightness(0) invert(0);
}
.amenities-flor ul li .amenities-flor-innr h6{
   color: #000;
   font-size: 14px;
   
}
.amenities-flor ul li.select .amenities-flor-innr img{
   filter: none;
}
.amenities-flor ul li.select .amenities-flor-innr h6{
   color: #B23998;
}
.amenities-people li{
   width: 33%;
   text-align: center;
   margin: 1rem 0;
}
.amenities-people li .amenities-people-innr img{
   height: 48px;
   width: 48px;
   margin-bottom: 10px;
}
.amenities-people li .amenities-people-innr h5{
   color: #000;
   font-weight: 400;
   font-size: 12px;
}
.amenities-hall h6{
   font-size: 20px;
   font-weight: 200;
   color: #000;
   margin-bottom: 1rem;
}
.amenities-hall li{
   width: 48%;
}
.amenities-hall .amenities-lst{
   justify-content: space-between;
}
.amenities-hall li button{
   width: 100%;
   text-align: left;
   padding: 15px 20px;
   background-color: #fff;
   color: #000;
   border-radius: 10px;
   font-size: 15px;
   margin-bottom: 1rem;
   height: 70px;
}
.amenities-hall li button.assigned{
   background-color: #fff;
}
.amenities-hall li button.not-assigned{
   background-color: #FFF27E;
}
.amenities-hall li button.on{
   background-color: #90FF74;
}
.amenities-hall li button.off{
   background-color: #F37787;
}
.amenities-hall li button img{
   width: 30px;
    height: 30px;
    object-fit: contain;
}
.amenities-hall li button span{
   display: block;
   text-align: right;
}

.congra-innr h1{
   font-size: 50px;
   font-weight: 800;
   margin-bottom: 5rem;
}
.congra-innr h6{
   font-size: 35px;
   color: #43EE19;
   font-weight: 400;
}
.amenities .brand-logo{
   padding: 10px 40px;
}
.hm-banner{
   min-height: 100vh;
   background-color: #000;
   padding: 100px 0
}
.hm-banner h1{
   font-size: 58px;
   font-weight: 600;
   margin-bottom: 5rem;
}
.hm-banner-content .thm-gr-btn{
   padding: 8px 40px;
    background: linear-gradient(180deg, #2494E4 0%, #C1E5FF 100%);
    font-size: 27px;
    font-weight: 600;
   -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: transparent;
}
.banner-img{
   position: absolute;
   bottom: 0;
}
.banner-img img{
   width: 100%;
}